%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Owner:
  = @group.user
%p
  %b Usuarios: 
%table.table#users-table
  %tr
    %th
    %th Usuario
    %th Acciones
  -@users.each do |u|
    %tr
      %td
      %td=u.to_s
      %td
%br
%br
.field.form-group
  .pull-left Agregar usuario:
  .col-lg-6=text_field_tag :search_user,"",class: "form-control typeahead"

%br
= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
:javascript
  window.users = #{@all_users.collect{ |u| u.email }}
  window.group_id = "#{@group.id}"
